body {
    background-color: #ffffff8c;
}
.login-board {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 1rem;
}
@media (max-width: 576px) {
    .login-card {
        margin: 1rem;
        padding: 1.5rem;
    }
}
